/** BODY **/
body {
    background-color: #363635;
    margin: 0;
}

/**SITE WRAPPER**/
.wrapper {
    margin: 0 auto;
    width: 80%;
}

/**SITE HEADER **/
.header {
    background-color: #363635;
    padding: 30px;
}
.header .logo {
    background-color: #363635;
    display: inline-block;
    font-size: 48px;
    padding: 15px 50px;
    text-transform: uppercase;
}

/** SITE NAVIGATION **/
.navigation {
    background-color: #F5AF43;
}
.navigation ul {
    margin: 0;
    padding-left: 0;
}
.navigation li {
    display: inline-block;
    padding: 15px 25px;
}
.navigation a {
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/** MAIN DIV **/
.main {
    background-color: #363635;
    font-family: 'Raleway', sans-serif;
    color: #DCDCDC;
    float: left;
    min-height: 600px;
    width: 70%;
}
.main h1 {
    padding-left: 35px;
}
.main p {
    padding: 5px 35px;
}

/** SIDEBAR DIV **/
.sidebar {
    background-color: #4E4E4E;
    font-family: 'Raleway', sans-serif;
    float: left;
    min-height: 600px;
    width: 30%;
}
.sidebar h2 {
    padding-left: 20px;
}

/** SIDE FOOTER **/
.footer {
    clear: left;
    background-color: #514F50;
    color: #DCDCDC;
    font-size: 14px;
    padding: 9px 0;
}
.footer p {
    margin: 0;
    color: #FFFFFF;
    padding-left: 35px;
}